body{
   text-align: center;
   background-image: url('diagonal-squares/diagonal-squares.png');
}
.main-header-section h1{
   margin-top:0px;
   color: white;
}
.main-header-section{
   font-family: 'Lobster Two', cursive;
   margin:10px;
}
.main-container{
   margin:auto;
   background-color: white;
   border-radius: 6px;
   padding: 15px;
   padding-top: 8px;
   width: 80%;
}
.create-notes-section{
   /* margin:20px; */
   margin:auto;
   margin-top:10px;
   margin-bottom:10px;
   background-color: lightgrey;
   padding: 15px;
   border-radius: 6px;
   width: 70%;
}
.text-entry-title{
   display: block;
   border-radius: 6px;
   font-size: 20px;
}
.text-entry-content{
   display: block;
   width: 99%;
   min-height: 100px; 
   border-radius: 6px;
   margin-top: 6px;
   margin-bottom: 6px;
   font-size: 15px;
}
button{
   cursor: pointer;
}
.btn-delete-all{
   text-align:right;
}
.btn-delete-all button{
   padding:10px;
   border-radius: 6px;
   background-color: red;
   color:white;
   font-size:15px;
}
.btn-delete-all button:hover{
   background-color: brown;
}
.btn-submit{
   text-align:right;
   margin:auto;
   padding:6px;
   border-radius: 5px;
   font-size: 15px;
}
.btn-submit button{
   background-color: white;
   color:black;
}
.btn-submit button:hover{
   background-color: grey;
   color:white;
}